/* GOOGLE FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
   
}

/* HEADER */
header {
    background-color: #333;
}
header nav {
    background-color:#792359;
    padding: 1rem;
}

.botonBusqueda {
    background-color: #d72483;
    color:aliceblue;
    border: aliceblue;
}

.botonBusqueda:hover {
    background-color: aliceblue;
    color: #d72483;
    border: #d72483;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: #c267a1;
    text-align: center;
    padding-top: 1rem;
    padding-right: 1rem;
    font-size:26px;  
}

h1:hover {
    text-decoration: underline;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color:#FD3E81;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px 30px ;
}

ul li a:hover {
    text-decoration: underline;
    color: #c267a1;
}

 /*MAIN  */

.imagen {
    display:block;
    margin:auto;
    
}

/* CAROUSEL */

.textoCarousel {
    color: rgb(89, 21, 110);
    font-weight: bold;
    font-style:oblique ;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: #dda3c2;
    margin-left: 10px;
}

p {
    margin-left: 10px;
}

.sobreNosotros {
    border: #d72483;
    background-color: #d72483;
    color: beige;
    padding: 1rem;
    margin-bottom: 10px;
}


/* FOOTER */

.textoFooter {
    color: #FD3E81;
    font-weight: bold;
}

.textoFooter:hover {
    color:#dda3c2;
}

footer {
    background-color: #792359;
}


.contenedorImagen {
    display: flex;
    align-items: center;
}

/* VIDEO MITOS */

#mitos {
    text-align: center;
    border: 1px solid #d72483;
    background-color:#d72483;
    margin-top: 10px;
    padding-top: 10px;
   
}

/* DIV CARDS HISTORIA Y MITOS */



 .historiaCards:hover {
    background-color: #333;
    color: beige;
} 

.mitoCards:hover {
    background-color: #333;
    color: beige;
}


/* CONTENEDOR ANTICONCEPCIÓN HORMONAL/NO HORMONAL */

.rowFem{
    color: #FD3E81;
    font-weight: bolder;
    margin: 1rem;   
}

/* ANTICONCEPCIÓN FEMENINA */



/* ANTICONCEPCIÓN MASCULINA */

.generalidadesMasc {
    background-color: rgb(9, 20, 70);
    color: white;
    margin: 15px 1px;
    padding: 20px;
}

.generalidadesMasc h2 {
    color:rgb(75, 151, 223) ;
}
.masculina:hover {
    background-color: #333;
    color:rgb(75, 151, 223) ;
}

.masculinaDos:hover {
    background-color: #333;
    color: #c267a1;
}

.masculinaTres:hover {
    background-color: #333;
    color:#dda3c2;
}

/* FORMULARIO CONTACTO */
.contenedorContacto {
    text-align: center;
    background-color: rgb(224, 151, 175);
    border: 3px solid rgb(224, 151, 175);
    margin: 10px 250px;
}

.contenedorContacto h2 {
    color: #792359;
    margin-top: 20px;
}

.contenedorContacto input:hover {
    background-color: #dda3c2;
}

