/* FOOTER*/

.textoFooter {
	color: $color_4;
	font-weight: bold;
	transition: all, 0.5s;
	&:hover {
		color: $color_6;
	}
}
footer {
	
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $background-color_2;

}
.contenedorImagen {
	display: flex;
	align-items: center;
}