$color_1: aliceblue;
$color_2: #d72483;
$color_3: #c267a1;
$color_4: #FD3E81;
$color_5: rgb(89, 21, 110);
$color_6: #dda3c2;
$color_7: beige;
$color_8: white;
$color_9: rgb(75, 151, 223);
$color_10: #792359;
$color_cards: pink;
$font-family_1: 'Open Sans', sans-serif;
$font-family_2: 'Bebas Neue', cursive;
$background-color_1: #333;
$background-color_2: #792359;
$background-color_3: #d72483;
$background-color_4: aliceblue;
$background-color_5: rgb(9, 20, 70);
$background-color_6: rgb(224, 151, 175);
$background-color_7: #dda3c2;